body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #776e65;
}

/* @import './App.css';
@import './assets/chessBoard.css';
@import './assets/cubes.css' */
@import './assets/third.css';